.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    .header__brand{
        min-width: 605px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header__logo{
            display: flex;
            align-items: center;
            img{
                margin-right: 13px;
            }
            .logo__name{
                font-size: 27px;
                text-transform: uppercase;
                span{
                    color: #f16d7f;
                    font-weight: 900;    
                }
            }
        }
        .header__search{
            height: 39px;
            display: flex;
            border: 1px solid #e6e6e6;
            border-radius: 3px;;
            .header__browse{
                width: 87px;
                background-color: #f6f6f6;
                border-radius: 2px 0 0 2px;
                border: none;
                outline: none;
                overflow: hidden;
                &:hover{
                    transition-duration: 0.3s;
                    background-color: #e7e7e7;    
                }
                i{
                    padding-left: 8px;
                    color: #838383;
                }
            }
            .header__input{
                min-width: 280px;
                border-right: 1px solid #e6e6e6;
                border-left: 1px solid #e6e6e6;
                padding-left: 15px;
                &::placeholder{
                    color: #a4a4a4;
                    line-height: 32px;
                    letter-spacing: 0.35px;
                }
            }
            .header__bt{
                background-color: #ffffff;
                width: 36px;
                border-radius: 0 2px 2px 0;
                color: #a4a4a4; 
            }
        }
    }
    .header__cart{
        display: flex;
        align-items: center;
        .header__live-cart{
            margin-right: 26px;
        }
        .header__my-account-bt{
            height: 38px;
            width: 130px;
            font-size: 15px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0.38px;
            background-color: #f16d7f;
            color: #ffffff;
            cursor: pointer;
            &:hover{
                transition-duration: 0.3s;
                background-color: #f15167;
            }
            i{
                padding-left: 8px;        
            }
        }    
    }
}

.header-line{
    border-bottom: 1px solid #e6e6e6;
}
.top-nav{
    min-height: 51px;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    .menu-list{
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        .menu-link{
            text-transform: uppercase;
            &:hover{
                border-bottom: 3px solid #f38191;    
            }
        }
        .menu-item:not(:last-child){
            margin-right: 48px;    
        }    
    }
}