@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

.top{
    background-color: #e8e8e8;
    .content{
        min-height: 613px;       
        background-image: url(https://raw.githubusercontent.com/Mangecu/Images_for_GB_HTML-CSS/main/topHeaderBack.png);
        background-repeat: no-repeat;
        background-size: 558px 965px;
        background-position-x: 555px;
        .content__name{
            text-transform: uppercase;
            font-weight: 400;
            border-left: 12px solid #f16d7f;
            padding-left: 12px;
            position: relative;
            top: 224px;
            h1{
                letter-spacing: 1.5px;
                line-height: 45px;
                font-size: 60px;
                font-weight: 900;        
            }
            h2{
                font-size: 40px;
                letter-spacing: 1px;
                font-weight: 900;
                line-height: 32px;
                padding-top: 20px;
                span{
                    color: #f16d7f;    
                }    
            }    
        }
    }    
}
.offers{
    height: 1021px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 98px;
    .offer__banner{
        width: 560px;
        position: relative;
        margin-bottom: 20px;
        margin-right: 20px;
        img{
            position: relative;    
        }
        .offer__badge{
            text-transform: uppercase;
            position: absolute;
            background-color: #ffffff;
            top: 26px;
            font-weight: 900;
            padding: 16px 19px 16px 21px;
            div:first-child{
                font-size: 18px;
                letter-spacing: 0.45px;
                margin-bottom: 15px;
                line-height: 14px;   
            }
            div:last-child{
                font-size: 30px;
                color: #f16d7f;
                letter-spacing: 0.75px;
                line-height: 22px;    
            }    
        }    
    }
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    .product__name{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            font-size: 30px;
            font-weight: 700;
            line-height: 23px;    
        }
        h3{
            color: #9f9f9f;
            font-size: 14px;
            font-weight: 400;
            line-height: 11px;
            margin-top: 16px;    
        }
    }
    .product__items{
        min-height: 982px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .product__item{
            height: 376px;
            width: 261px;
            position: relative;
            display: block;
            transition: all 0.3s ease-in;
            .product__discr{
                height: inherit;
                width: inherit;
                .product__item-name{
                    margin-top: 20px;
                    margin-left: 13px;
                    h3:first-child{
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 16px;
                    }
                    h3:last-child{
                        margin-top: 17px;
                        font-weight: 700;
                        color: #f16d7f;
                        font-size: 16px;   
                    }
                }
            }
            &:hover{
                box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
            }
            .product__hover{
                display: none;
                width: inherit;
                height: 279px;
                position: absolute;
                top: 0;
                .product__cart{
                    position: absolute;
                    display: none;
                    width: 123px;
                    height: 39px;
                    border: 2px solid #ffffff;
                    font-weight: 700;
                    font-size: 13px;
                    top: 98px;
                    right: 70px;
                    img{
                        padding-right: 8px;    
                    }           
                }
            }
            &:hover .product__hover{
                display: block;
                background-color: rgba(58, 56, 56, 0.6);
                width: inherit;
                height: 279px;
            }
            &:hover .product__cart{
                color: #ffffff;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                    
            }
        }
    }
    .product__bt{
        font-weight: 700;
        font-size: 16px;
        color: #ffffff;
        background-color: #f16d7f;
        width: 212px;
        height: 48px;
        text-align: center;
        transition: all 0.3s ease-in;
        &:hover{
            background-color: #ffffff;
            color: #f16d7f;
            border: 1px solid #f16d7f;
        }
        i{
            padding-left: 9px;
        }        
    }
}
.feature{
    min-height: 739px;
    display: flex;
    align-items: center;
    .feature__content{
        display: flex;
        flex-direction: row;
    }
    .feature__img{
        height: inherit;
        position: relative;
        .feature__label{
            position: absolute;
            top: 146px;
            left: 39px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2{
                color: #ffffff;
                font-size: 54px;
                font-weight: 700;
                letter-spacing: 1.5px;
                span{
                    color: #f16d7f;    
                }    
            }
            h3{
                font-size: 32px;
                letter-spacing: 0.9px;
                color: #ffffff;
                font-weight: 700;    
            }
        }
    }
    .feature__boxes{
        min-width: 373px;
        height: inherit;
        background-color: #222224;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .feature__box{
            width: 294px;
            color: #fbfbfb;
            display: flex;
            align-items: center;
            justify-content: space-between;
            img{
                width: 49px;
                align-self: baseline;  
            }
            .feature__item{
                width: 219px;
                h3{
                    color: #fbfbfb;
                    font-size: 20px;
                    width: 700;
                    margin-bottom: 17px;    
                }
                p{
                    color: #fbfbfb;
                    line-height: 24px;    
                }
            }
        }
    }    
}
.subscribe{
    background: url(https://raw.githubusercontent.com/Mangecu/Images_for_GB_HTML-CSS/main/SubscribbeBG.jpg);
    background-color: rgba(242, 242, 242, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 438px;
    background-blend-mode: soft-light;
    .container{
        min-height: 438px;
        display: flex;
        .subscribe__comments{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: calc(50% - 0.5px);
            .subscribe__units{
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 497px;
                .subscribe__text{
                    width: 386px;
                    p{
                        color: #222224;
                        font-size: 14px;
                        font-style: italic;
                        line-height: 26px;
                        
                        font-weight: 700;    
                    }
                    .subscribe__name{
                        margin-top: 19px;
                        h2{
                            color: #f16d7f;
                            font-size: 16px;
                            font-weight: 700;
                            letter-spacing: 0.4px;
                            line-height: 26px;
                        }
                        h3{
                            color: #222224;
                            font-size: 12px;
                            font-weight: 700;
                            letter-spacing: 0.3px;
                            line-height: 14px;    
                        }
                    }    
                }
            }
            .subscribe__slide{
                margin-top: 41px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                li{
                    height: 4px;
                    width: 38px;
                    background-color: #d6d6d6;
                    &:hover {
                        background-color: #f16d7f;
                    } 
                }
                li:not(:last-child){
                    margin-right: 13px;    
                }
            }
        }
        .subscribe__line{
            height: inherit;
            border-left: 1px solid #ffffff;
        }
        .subscribe__promotion{
            height: inherit;
            width: calc(50% - 0.5px);
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            .subscribe__top{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 35px;
                h2{
                    color: #222224;
                    font-size: 24px;
                    font-weight: 400;
                    text-transform: uppercase;
                    line-height: 54px;
                }
                h3{
                    line-height: 24px;
                    letter-spacing: 0.35px;
                    color: #222224;
                    text-transform: uppercase;    
                }
            }
            .subscribe__input{
                display: flex;
                justify-content: center;
                height: 46px;
                input{
                    height: inherit;
                    padding-left: 28px;
                    width: 280px;
                    border-radius: 23px 0 0 23px;
                    background-color: #e1e1e1;
                    &::placeholder{
                        opacity: 0.67;
                        color: #222224;
                        font-weight: 400;
                        line-height: 54px;    
                    }    
                }
                button{
                    width: 104px;
                    height: inherit;
                    background-color: #f16d7f;
                    color: #ffffff;
                    border: none;
                    border-radius: 0 23px 23px 0;
                    align-items: center;
                }    
            }
        }
    }
}
.footer-nav{
    min-height: 458px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footer-nav__info{
        .footer-nav__logo{
            display: flex;
            align-items: center;
            img{
                margin-right: 13px;
            }
            .footer-nav__name{
                font-size: 27px;
                text-transform: uppercase;
                span{
                    color: #f16d7f;
                    font-weight: 900;    
                }
            }
        }
        p{
            width: 427px;
            color: #898989;
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            letter-spacing: 0.35px;
            margin-top: 30px;        
        }
        
    }
    .footer-nav__company,
    .footer-nav__information,
    .footer-nav__shop{
        display: flex;
        flex-direction: column;
        min-height: 238px;
        margin-top: 10px;
        h2{
            color: #f16d7f;
            font-size: 18px;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 0.45px;
            margin-bottom: 26px;            
        }
        .footer-nav__list{
            min-height: 179px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .footer-nav__item{
                padding-top: 5px;
                .footer-nav__link{
                    color: #898989;
                    font-weight: 700;
                    font-size: 16px;
                    letter-spacing: 0.4px;
                    line-height: 42px;    
                }
                .footer-nav__link:hover{
                    color: #000000;
                    border-bottom: 2px solid #f38191;
                }   
            }
        }
    }    
}   
.footer-back{
    background-color: #e6e6e6;
    .footer{
        height: 79px;
        display: flex;
        justify-content: space-between;
        align-items: center;
            h3{
                color: #7a7a7a;
                font-size: 16px;
                font-weight: 400;
                line-height: 42px;
                letter-spacing: 0.4px;      
            }
        .footer__social{
            display: flex;  
            flex-direction: row;
            a{
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ffffff;
                color: #b2b2b2;
                transition: color 0.4s ease-in-out;
                transition: background-color 0.4s ease-in-out;
            }
            a:hover{
                background-color: #f16d7f;
                color: #ffffff;
            }
            a:not(:last-child){
                margin-right: 8px;    
            }
        }    
    }
}